@model IEnumerable<AppProject.Models.Mart>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
        <img class="logo" src="~/imagesweb/logo.jpg" />
    </header>

    <div class="site-section">
        <div class="container">

            @if (!ViewBag.ConnectClient)
            {
                <div style="float:right;position:relative">:נא להתחבר קודם</div>
                <div style="position:absolute;margin-top:25px;">
                    <div id="Account"><a asp-action="LogIn" asp-controller="Customers">לקוח קיים</a></div>
                    <div id="Account"><a asp-action="Create" asp-controller="Customers">לקוח חדש</a></div>
                </div>
            }
            else
            {

                <div class="row mb-5">
                    <form class="col-md-12" method="post">
                        <div class="site-blocks-table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-remove">Remove</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        @if (item.Customer.Mail == ViewBag.Mail)
                                        {
                                            <tr>עגלה של לקוח:@item.Customer.FirstName</tr>
                                            @foreach (var connect in item.Details)
                                            {

                                                <tr>
                                                    <td class="product-thumbnail">
                                                        <img src="~/imagesweb/@connect.Productes.ImgId" alt="Image" class="img-fluid">
                                                    </td>
                                                    <td class="product-name">
                                                        <h2 class="h5 text-black">@connect.Productes.ProductName</h2>
                                                    </td>
                                                    <td>@connect.Productes.Price</td>
                                                    <td>
                                                        <div class="input-group mb-3" style="max-width: 120px;">                           
                                                            <input min="1" max="9" type="text" class="form-control text-center" value="@connect.Productes.AmountOfOrders" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">                             
                                                        </div>
                                                    </td>
                                                    <td><a asp-action="Delete" asp-controller="ConnectTables" asp-route-id="@connect.Productes.Id" class="btn btn-primary height-auto btn-sm">X</a></td>
                                                </tr>
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </form>

                </div>
                @*//לקחתי עיצוב מmax*@
                <div class="row">
                    <div class="col-md-6">
                        <div class="row mb-5">

                            <div class="col-md-6 mb-3 mb-md-0">
                                @*<a asp-action="Edit" asp-controller="ConnectTables" class="btn btn-primary btn-sm btn-block">Update Cart</a>*@
                            </div>

                            <div class="col-md-6">
                                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 pl-5">
                        <div class="row justify-content-end">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12 text-right border-bottom mb-5">
                                        <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <span class="text-black">Subtotal</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong class="text-black"> @ViewBag.total</strong>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-md-6">
                                        <span class="text-black">Total</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong class="text-black"> @ViewBag.total</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="~/imagesweb/ajax-loader.gif" class="hide loader" />
                                        <button class="btn btn-primary btn-lg btn-block btn-loader">Proceed To Checkout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            }
        </div>
    </div>

</body>
</html>

@section Scripts{
    <script src="~/js/Mart.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/main.js"></script>
}
@*<h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
