@model IEnumerable<AppProject.Models.Productes>

@{
    ViewData["Title"] = "Index";
}

@foreach (var Product in Model)
{
    <div class="col-md-4">
        <div class="product-item">
            <img src="~/imagesweb/@Product.ImgId"/>
            <div class="product-info">
                <a asp-controller="Productes" asp-action="Details" asp-route-id="@Product.Id">@Product.ProductName</a>
                <p name="productname">@Product.Price</p>
                <a href="#" class="site-btn btn-line">Add TO Mart</a>
            </div>

            @*<div>
                <a asp-action="Edit" asp-route-id="@Product.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Product.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Product.Id">Delete</a>
        </div>*@
       
        </div>
    </div>
}



@*<h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountInStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountOfOrders)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImgId)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubCategory.SubName)
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfOrders)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory.SubName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
