@model AppProject.Models.ConectTable

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ConectTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="DetailsId" />
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color.ColorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mart.MartId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Productes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Productes.ProductId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size.SizeId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
