@model IEnumerable<AppProject.Models.Categories>

@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        //הצגת תת קטגוריה לפי קטגוריה מסוימת
        $(document).ready(function () {

            $(".SubContent").hide();
            //next אחיו
            //$(".DepartmentLink").hover(function () { $(this).next('.SubContent').show(); }, function () { $(this).next('.SubContent').hide();});


            $(".Department").hover(function () {
                $(this).find('.SubContent').show();
               // $(this).css(width                    = "width:100px;height:100px;background-color:white"
                
            }, function () { $(this).find('.SubContent').hide(); });

            
            
            //הצגת מוצרים לפי שם מוצר מסוים בעת הקלדה 
            $("#myInput").on("keyup", function () {              
                var value = $(this).val().toLowerCase();
                $("#Product .col-md-3").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });


       // בעת טעינה יציג לי את כל המוצרים
        $(window).load(function () {
            $.ajax({
                url: "Productes/Index",
                method: "post",
                dataType: "html",
                success: function (respon) {
                    $("#Product").html(respon);
                }
            });

            $.ajax({
                url: "Colors/Index",
                method: "post",
                dataType: "html",
                success: function (respon) {
                    $("#Color").html(respon);
                }
            });

        });


    </script>
</head>

<body>
    @*//לוגו*@
    <header></header>
    <nav id="MainNavigation" class="navbar">
        <div class="Content MainNavigation container">
            <ul class="nav">
                @foreach (var item in Model)
                {
                <li class="Department">
                    <a id="@item.Id" class="DepartmentLink" href="#">
                        @item.Name
                    </a>

                    <ul class="SubContent" >
                        @foreach (var item2 in item.SubCategories)
                        {
                        <li><a>@item2.SubName</a></li>
                        }

                    </ul>

                    @*<div>
                <ul>
                <li class="link">
                    <a asp-action="Edit" asp-route-id="@item.Id">Update</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </li>
            </ul>
        </div>*@
                </li>
                }

                @*<li><div><a asp-action="Create">Create New</a></div></li>*@

            </ul>


            @*//תיבה שמשמשת לחיפוש-קשור למוצרים*@
            <input id="myInput" type="text" placeholder="Search..">

        </div>
    </nav>

    <div class="container">
        <div class="row mb-5">
            <aside class="col-md-3 order-2 mb-5 mb-md-0">
                <section id="Color"></section>
            </aside>

            <section id="Product" class="col-md-9 order-1">
            </section>
        </div>
    </div>


</body>


@*<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
