@model IEnumerable<AppProject.Models.Categories>

@{
    ViewData["Title"] = "Index";
}

<head>
@section Scripts{
    <script src="~/js/site.js" asp-append-version="true"></script>
}


</head>

<body>
    @*//меве*@
    <header>
        <nav id="MainNavigation" class="navbar">
            <div class="Content MainNavigation container">
                <ul class="nav">
                    @foreach (var Category in Model)
                    {
                        <li class="Department">
                            <a id="@Category.Id" class="DepartmentLink" href="#">
                                @Category.Name
                            </a>

                            <ul class="Component">
                                @foreach (var SubCategory in Category.SubCategories)
                                {
                                    <li class="ComponentItem"><a class="Text" id="@SubCategory.Id">@SubCategory.SubName</a></li>
                                }

                            </ul>

                        </li>
                    }

                </ul>


                @*<input id="myInput" class="form-control mr-sm-2" placeholder="Search.." />
                    <button id="Search" class="btn btn-outline-success my-2 my-sm-0">Search</button>*@
                <form>
                    <input type="text" name="productname" placeholder="Search..">
                    <button>Serach</button>
                </form>

            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row mb-5">
            <aside class="col-md-3 order-2 mb-5 mb-md-0">
                <div class="border p-4 rounded mb-4">
                    <div class="mb-4">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
                        <div id="slider-range" class="border-primary"></div>
                        <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
                    </div>
                    @*<div id="Size" class="mb-4">
                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Size</h3>
                            <label for="s_sm" class="d-flex">
                                <input type="checkbox" id="s_sm" class="mr-2 mt-1"> <span class="text-black">Small (2,319)</span>
                            </label>
                            <label for="s_md" class="d-flex">
                                <input type="checkbox" id="s_md" class="mr-2 mt-1"> <span class="text-black">Medium (1,282)</span>
                            </label>
                            <label for="s_lg" class="d-flex">
                                <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">Large (1,392)</span>
                            </label>
                        </div>*@
                    <div id="Color" class="mb-4">

                    </div>
                </div>
            </aside>

            <section id="Product" class="col-md-9 order-1"></section>
        </div>
    </div>


</body>

@*<h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
