@model IEnumerable<AppProject.Models.Quantities>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    @*<header>
            <img class="logo" src="~/imagesweb/logo.jpg" />
        </header>*@

    <div class="site-section">
        <div class="container">
            @if (!ViewBag.ConnectClient)
            {
                //style = "float:right;position:relative"
                <div>
                    <h1 class="shadow-or">Please Connect First</h1>

                    <div id="Account"><a asp-action="LogIn" asp-controller="Customers" class="link">Existing Customers</a></div>
                    <div id="Account"><a asp-action="Create" asp-controller="Customers" class="link">New Customers</a></div>
                </div>
            }
            else
            {

                <div class="row mb-5">
                    <div class="site-blocks-table ">

                        <table class="table table-bordered bg-pnk">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-price">Color</th>
                                    <th class="product-price">Size</th>
                                    <th class="product-quantity">AmountOfOrders</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {


                                <tbody>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="~/imagesweb/@item.Productes.ImgId" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h5 text-black">@item.Productes.ProductName</h2>
                                        </td>
                                        <td>@item.Productes.Price</td>
                                        <td>
                                            @item.Color.ColorName
                                        </td>
                                        <td>
                                            @item.Size.SizeName
                                        </td>
                                        @if (item.AmountOfOrders != 0)
                                        {

                                            <td>
                                                @item.AmountOfOrders
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                out of stock
                                            </td>
                                        }
                                        <td>
                                            <form method="post" asp-action="Delete" asp-route-Productid="@item.Productes.Id" asp-route-ColorId="@item.Color.Id" asp-route-SizeId="@item.Size.Id" asp-route-MartId="@item.Mart.Id">
                                                <div class="form-actions no-color">
                                                    <input type="submit" value="X" class="btn btn-primary height-auto btn-sm" />
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>

                    </div>
                </div>
                @*//????? ????? ?max*@
                <div class="row">
                    <div class="col-md-6">
                        <div class="row mb-5">
                            @*<div class="col-md-6 mb-3 mb-md-0">*@
                            @*<a asp-action="Edit" asp-controller="ConnectTables" class="btn btn-primary btn-sm btn-block">Update Cart</a>*@
                            @*</div>*@
                            <div class="col-md-6">
                                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 pl-5">
                        <div class="row justify-content-end">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12 text-right border-bottom mb-5">
                                        <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <span class="text-black">Subtotal</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong class="text-black"> @ViewBag.total</strong>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-md-6">
                                        <span class="text-black">Total</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong class="text-black"> @ViewBag.total</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="~/imagesweb/ajax-loader.gif" class="hide loader" />
                                        <button class="btn btn-primary btn-lg btn-block btn-loader">Proceed To Checkout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

</body>
</html>

@section Scripts{
    <script src="~/js/Mart.js"></script>
}



@*<h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AmountOfOrders)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Productes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfOrders)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mart.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Productes.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size.Id)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>*@

