@model IEnumerable<AppProject.Models.ConnectTable>

@{
    ViewData["Title"] = "List";
}


    <h2>List</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Color.ColorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mart.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Productes.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size.SizeName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color.ColorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mart.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Productes.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size.SizeName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
