@model IEnumerable<AppProject.Models.Sizes>

@{
    ViewData["Title"] = "Index";
}

<h3 class="mb-3 h6 text-uppercase text-black d-block">Sizes</h3>
@foreach (var item in Model)
{
    <form id="myform">
        <input class="mr-2 mt-1" type="checkbox" name="check1" value="check1"><span class="text-black">@item.SizeName</span>
    </form>

}

@*<h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SizeName)
                    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SizeName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
